table {margin: 0px auto; }
.buttons { color:black; background-color:yellow; text-align:center; width: 100px; height: 35px; font-size: 17px;}
body {background-color: white;}
h1,h3 {text-align:center;}

