html {
    height: 100%;
    width: 100%;
    background-image: url("images/bookstore.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

h1 { 
    background-color: white;
    border: 2px solid black;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

div#menu {
    width: 200px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    /* opacity: 92%; */
    position: fixed;
    padding: 20px;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

 .main-nav a {
    width: 200px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    /* opacity: 92%; */
    padding: 50px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}