html {
    height: 100%;
    width: 100%;
    background-image: url("images/bookstore.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

h1 { 
    background-color: white;
    border: 2px solid black;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

input{
    width: 180px;
    margin: 5px;
    text-align: center;
    padding-bottom: 5px;
}

div#login {
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    /* opacity: 92%; */
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div#login i{
    position: absolute;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

#loginbtn {
    width: fit-content;
    color: black;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: #87CEEB;
    padding: 3px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -5%);
}

